@import './vars';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

    font-family: $font1;
    color: $color3;
}

html {
    position: relative;
    min-height: 100%;
}

ul {
    list-style-type: none;
}

//Inline-block
.inline-block {
    display: inline-block;
}

//Clickable stuff
.clickable {
    cursor: pointer;
}

//Floats
.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-after {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

//Headers
h1 {
    font-size: 26px;
}

//Icons
.icon {
    cursor: pointer;

    &:hover,
    &:active,
    &:focus,
    &:visited {
        -webkit-filter: sepia(100%) hue-rotate(40deg) saturate(200%) brightness(100%);
        filter: sepia(100%) hue-rotate(40deg) saturate(200%) brightness(100%);
    }
}

.mobile-only {
    @include above ($m) {
        display: none;
    }
}