#about {
    padding: 40px 0 200px 0;

    h1,
    p {
        width: 50%;
        margin: 0 auto;
        text-align: center;

        @include below($l) {
            width: 70%;
        }

        @include below($m) {
            width: 80%;
        }
    }




    p {
        margin: 20px auto 140px auto;
        font-size: 1.2rem;
    }

    .sliderContainer {
        position: relative;

        .nextBtn,
        .prevBtn {
            width: 30px;
            height: 30px;
            background: url('../assets/img/down.png') no-repeat center center;
            filter: invert(0.5);
            position: absolute;
            top: 35px;
            opacity: 0.5;
            transition: opacity 150ms;

            &:hover {
                opacity: 1;
                transition: opacity 300ms;
            }
        }

        .nextBtn {
            right: 0;
            transform: rotate(-90deg);
        }

        .prevBtn {
            left: 0;
            transform: rotate(90deg);
        }

        .lSSlideOuter {
            padding-left: 50px;
            padding-right: 50px;

            @include below($l) {
                padding-left: 30px;
                padding-right: 30px;
            }

            @include below($m) {
                padding-left: 50px;
                padding-right: 50px;
            }
        }

        #lightSlider {
            li {
                @include below($l) {
                    width: 30%;
                }

                img {
                    height: 95px;
                    width: 200px;
                    object-fit: cover;
                    object-position: center center;

                    @include below($l) {
                        width: 100%;
                    }
                }
            }
        }

        // Slider controls
        .lSPager {
            margin-top: 70px !important;

            @include below($l) {
                margin-top: 35px !important;
            }

            @include below($m) {
                display: none;
            }
        }
    }
}