#top {
    min-height: 100vh;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: $bgcolor2;
    position: relative;
    background: url('../assets/img/background.jpg') no-repeat left center;

    header {
        height: 80px;
        display: flex;

        @include below(870px) {
            display: block;
        }



        // ---------   Logo -----------
        .logo {
            float: left;
            filter: contrast(1000%);
        }

        // ---------   Nav -----------
        nav {
            float: right;
            line-height: 80px;
            flex-grow: 1;
            padding-left: 20%;

            @include below($laptop) {
                padding-left: 10%;
            }

            @include below($xl) {
                padding-left: 20px;
            }

            @include below(870px) {
                width: 100%;
                height: 100%;
                position: fixed;
                padding-left: 0;
                top: 0;
                left: 100vw;
                background-color: rgba(15, 15, 15, 0.95);
                z-index: 99;
            }

            ul {
                width: 100%;
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-between;

                @include below(870px) {
                    flex-direction: column;
                    align-items: center;
                    width: 100%;
                    height: 50%;
                    position: absolute;
                    top: 20vh;
                    left: 0;
                    background-color: transparent !important;

                    * {
                        color: $color4 !important;
                    }
                }

                * {
                    font-size: 0.8rem;
                    font-weight: 600;
                    color: $color4;
                }

                li {

                    @include below($laptop) {
                        margin-left: 10px;
                    }

                    @include below(870px) {
                        margin-left: 0;
                        line-height: normal;
                    }

                    a {
                        &.active {
                            font-weight: bold;
                        }

                        &:before {
                            background-color: $bgcolor1;
                        }
                    }

                    button {
                        color: $color4;
                        background-color: transparent;
                        border: 2px solid $bgcolor1;
                    }
                }
            }
        }

        // ---------   Hamburger menu icon -----------
        .hamburger-open {
            display: none;
            float: right;
            width: 50px;
            height: 50px;
            filter: invert(1);
            background: url('../assets/img/bars.svg') no-repeat center center;

            @include below(870px) {
                display: block;
            }
        }

        .hamburger-close {
            display: none;
            float: right;
            width: 50px;
            height: 50px;
            filter: invert(1);
            background: url('../assets/img/times.svg') no-repeat center center;
            margin: 50px;

            @include below(870px) {
                display: block;
            }
        }
    }

    // ---------   Text section -----------
    .top-text {
        margin-top: 200px;
        float: right;
        width: 500px;

        @include below(870px) {
            float: none;
            margin: 200px auto 200px auto;
            max-width: 85%;
        }

        h2 {
            @include below($l) {
                font-size: 1.8rem;
                text-align: center;
            }

            color: $color4;
        }

        p {
            color: $color4;
            opacity: 0.9;
            margin-top: 20px;
            font-size: 1.25rem;

            @include below($l) {
                font-size: 1rem;
            }
        }

        button {
            margin-top: 20px;
            background-color: $bgcolor1;
            width: 60%;
            padding-top: 15px;
            padding-bottom: 15px;
            font-size: 1.25rem;
            color: $color3;
            font-weight: 800;

            @include below($l) {
                margin: 20px auto 0 auto;
                display: block;
                max-width: 220px;
            }
        }
    }

    // ---------   Down arrow -----------
    .down-arrow {
        display: block;
        width: 40px;
        height: 40px;
        margin: 0 auto;
        margin-bottom: 10px;
        position: absolute;
        left: 50%;
        bottom: 30px;
        margin-left: -15px;
        background: url('../assets/img/down.png') no-repeat center center;
    }
}